.table.cart {
  margin-top: 30px;
  
  th {
    text-transform: uppercase;
  }

  td {
    vertical-align: middle;  
  }
  
  img {
    max-height: 50px;
  }

  input[type='number'] {
    max-width: 100px;
  }
}